{% extends "base.html" %}
{% block content %}
<h1>Список водителей</h1>

<div class="content_flex">
    <div class="content_func">
        {% if session.role == 2 %}
        <details>
            <summary>Добавить водителя</summary>
            <div class="form_div">
                <form method="post" action="drivers/add">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="text" name="username" placeholder="Юзернейм">
                    <input type="text" name="password" placeholder="Пароль">
                    <input type="text" name="fio" placeholder="ФИО">
                    <select name="carid">
                        <option disabled selected>Выберите автомобиль</option>
                        {% for car in cars %}
                        <option name="carid" value="{{car[0]}}">{{car[1]}} {{car[2]}} ({{car[3]}})</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Добавить">
                </form>
            </div>
        </details>
        {% endif %}
    </div>

    <div class="table_div">
        <table>
            <tr>
                <th>Номер</th>
                <th>ФИО</th>
                <th>Автомобиль</th>
                {% if session.role == 2 %}
                <th>Действия</th>
                {% endif %}
            </tr>
            {% for driver in drivers %}
            <tr>
                <td><a href="/drivers/{{driver[0]}}">{{driver[0]}}</a></td>
                <td><a href="/drivers/{{driver[0]}}">{{driver[2]}}</a></td>
                {% if driver[5] %}
                <td><a href="/drivers/{{driver[0]}}">{{driver[7]}} {{driver[8]}} ({{driver[9]}})</a></td>
                {% else %}
                <td><a href="/drivers/{{driver[0]}}">Нет</a></td>
                {% endif %}
                {% if session.role == 2 %}
                <td><a href="/drivers/rm/{{driver[0]}}">×</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}