{% extends "base.html" %}
{% block content %}
<h1>Список водителей</h1>

<div class="content_flex">
    <div class="content_func">
        {% if session.role == 2 %}
        <details>
            <summary>Добавить водителя</summary>
            <div class="form_div">
                <form method="post">
                    {{ form.csrf_token() }}
                    {{ form.username.label }} {{ form.username }}
                    {{ form.password.label }} {{ form.password }}
                    {{ form.fio.label }} {{ form.fio }}
                    {{ form.car.label }} {{ form.car }}
                    {{ form.submit }}
                </form>
            </div>
        </details>
        {% endif %}
    </div>

    <div class="table_div">
        <table>
            <tr>
                <th>Номер</th>
                <th>Юзернейм</th>
                <th>ФИО</th>
                <th>Автомобиль</th>
                {% if session.role == 2 %}
                <th>Действия</th>
                {% endif %}
            </tr>
            {% for driver in drivers %}
            <tr>
                <td><a href="/drivers/{{driver[0]}}">{{driver[0]}}</a></td>
                <td><a href="/drivers/{{driver[0]}}">{{driver[1]}}</a></td>
                <td><a href="/drivers/{{driver[0]}}">{{driver[2]}}</a></td>
                {% if driver[5] %}
                <td><a href="/drivers/{{driver[0]}}">{{driver[7]}} {{driver[8]}} ({{driver[9]}})</a></td>
                {% else %}
                <td><a href="/drivers/{{driver[0]}}">Нет</a></td>
                {% endif %}
                {% if session.role == 2 %}
                <td><a href="/drivers/rm/{{driver[0]}}">×</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}