{% extends "base.html" %}
{% block content %}
<h1>Список топлива</h1>

<div class="content_flex">
    <div class="content_func">
        {% if session.role == 2 %}
        <details>
            <summary>Добавить топливо</summary>
            <div class="form_div">
                <form method="post">
                    {{ form.csrf_token() }}
                    {{ form.brand.label }} {{ form.brand }}
                    {{ form.octane.label }} {{ form.octane }}
                    {{ form.submit }}
                </form>
            </div>
        </details>

        <details>
            <summary>Приход</summary>
            <div class="form_div">
                <form method="post" action="gases/add_amount">
                    {{ add_form.csrf_token() }}
                    {{ add_form.gas.label }} {{ add_form.gas }}
                    {{ add_form.amount.label }} {{ add_form.amount }}
                    {{ add_form.submit2 }}
                </form>
            </div>
        </details>
        {% endif %}
    </div>


    <div class="table_div">
        <table>
            <tr>
                <th>Номер</th>
                <th>Производитель</th>
                <th>Октановое число</th>
                <th>Остаток</th>
                {% if session.role == 2 %}
                <th>Действия</th>
                {% endif %}
            </tr>
            {% for gas in gases %}
            <tr>
                <td>{{gas[0]}}</td>
                <td>{{gas[1]}}</td>
                <td>{{gas[2]}}</td>
                <td>{{gas[3]}}л</td>
                {% if session.role == 2 %}
                <td><a href="/gases/rm/{{gas[0]}}">×</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}