{% extends "base.html" %}
{% block content %}
<h1>Список перевозок</h1>

<div class="content_flex">
    <div class="content_func">
        {% if session.role == 2 %}
        <details>
            <summary>Добавить перевозку</summary>
            <div class="form_div">
                <form method="post">
                    {{ form.csrf_token() }}
                    {{ form.date.label }} {{ form.date }}
                    {{ form.driver.label }} {{ form.driver }}
                    {{ form.gas.label }} {{ form.gas }}
                    {{ form.station.label }} {{ form.station }}
                    {{ form.amount.label }} {{ form.amount }}
                    {{ form.submit }}
                </form>
            </div>
        </details>
        {% endif %}
        <details>
            <summary>Фильтры</summary>
            <div class="form_div">
                <form method="post">
                    {{ filter_form.csrf_token() }}
                    {{ filter_form.start_date.label }} {{ filter_form.start_date }}
                    {{ filter_form.end_date.label }} {{ filter_form.end_date }}
                    {{ filter_form.driver2.label }} {{ filter_form.driver2 }}
                    {{ filter_form.status.label }} {{ filter_form.status }}
                    {{ filter_form.submit2 }}
                </form>
            </div>
        </details>
    </div>

    <div class="table_div">
        <table>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Водитель</th>
                <th>Станция</th>
                <th>Объем топлива</th>
                <th>Статус</th>
                {% if session.role == 2 %}
                <th>Действия</th>
                {% endif %}
            </tr>
            {% for transportation in transportations %}
            {% if (transportation[2] != 0 and transportation[3] != 0 and transportation[4] != 0) or transportation[6] > 0 %}
            <tr>
                <td><a href="/transportations/{{transportation[0]}}">{{transportation[0]}}</a></td>
                <td><a href="/transportations/{{transportation[0]}}">{{transportation[1]}}</a></td>
                <td><a href="/transportations/{{transportation[0]}}">{{transportation[9]}}</a></td>
                <td><a href="/transportations/{{transportation[0]}}">{{transportation[18]}}</a></td>
                <td><a href="/transportations/{{transportation[0]}}">{{transportation[5]}}</a></td>
                <td><a href="/transportations/{{transportation[0]}}">{{transportation[21]}}</a></td>
                {% if session.role == 2 %}
                <td><a href="/transportations/rm/{{transportation[0]}}">×</a></td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
    {% endblock %}